@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: white;
    padding: none;
    margin: none;
}

img {
    border-radius: 15px;
}

/* ****************** LINKS ********************** */
a {
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(153, 247, 59);
}

a:link {
    color: black;
}

a:visited {
    color: lightslategray
}

a:hover {
    color: rgb(10, 189, 10)
}

a:active {
    color: yellow
}
/* *************** GRID ************************ */

.blogcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    ". item1 item1 . " 
    ". item2 item2 ." 
    "item3 item3 item3 item3 "
}

.header {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1.header {
    margin: 10px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
    font-size: 56pt;
    justify-self: center;
}

h6.header {
    margin: 0;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 300;
    font-size: 24px;
}

/* ******************* MAIN ******************** */
.main {
    grid-area: item2;
    text-align: justify;
}

.maintitle {
    font-size: 18pt;
    text-align: center;
}

/* *********** FOOTER ************ */

.footer {
    grid-area: item3;
    background-color: rgb(207, 212, 216);
    overflow: hidden;
    grid-column: 1/10;
    grid-row: 7/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: ". footer1 footer1 ." ". form buttons ."
}

.footer1 {
    grid-area: footer1;
}

.footer2 {
    grid-area: form;
}

.footer3 {
    grid-area: buttons;
}

.footerbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "button button" "button button" "button button";
}

.footer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "email name" "text text" "button .";
}

.footer2input1 {
    grid-area: email;
}

.footer2input2 {
    grid-area: name;
}

.footer2input3 {
    grid-area: text;
}

.footer2input4 {
    grid-area: button;
}

.socialimage {
    width: 15px;
}

.socialtag {
    font-size: 8pt;
}