@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: white;
    padding: none;
    margin: none;
}

img {
    border-radius: 15px;
}

/* ****************** LINKS ********************** */
a {
    margin: 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(153, 247, 59);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: lightslategray
}

a:hover {
    color: rgb(10, 189, 10)
}

a:active {
    color: yellow
}

a.mainlink {
    background-color: white;
}

/* ****************** GRID ****************** */
.learncontainer {
    display: grid;
    grid-template-columns: 200px 300px 1fr 200px;
    grid-template-rows: .25fr 750px 500px .5fr;
    grid-gap: 10px;
    grid-template-areas: 
    ". item1 item1 ." 
    ". item3 item2 ." 
    ". item4 item2 ." 
    "footer footer footer footer"
}

.header {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

h1.headertext {
    margin: 10px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
    font-size: 56pt;
    justify-self: center;
    background-color: rgb(153, 247, 59);
    border-radius:5px;
    padding-left: 13px;
    padding-right: 13px;
}

h6.headertext {
    margin: 0;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 300;
    font-size: 24px;
}

/* **************** MAIN *************** */

.main1 {
    grid-area: item2;
    margin-left: 20px;
}

.main1heading {
    text-align: center;
}

.main1text {
    font-size: 10pt;
    font-weight: 300;
    text-align: justify;
}

.main2 {
    grid-area: item3;
    border-radius: 4px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.datemaintitle {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 700;
    /* padding: 2px; */
    margin-bottom: 0;
    width: 100px;
    text-align: center;
}

.datemaintext {
    font-size: 12px;
    font-weight: 300;
    align-items: center;
    text-align: justify;
    margin-right: 10px;
}

.line {
    margin: 0px 10px 10px 0px;
}

.main3 {
    grid-area: item4;
}

.main3heading {
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 2px;
}

.main3image {
    width: 150px;
    float: left;
    margin-right: 8px;
}

.main3text {
    font-size: 10px;
    font-weight: 300;
    text-align: justify;
    line-height: 150%;
}

.main3link {
    margin-top: 3px;
}

/* *********** FOOTER ************ */

.footer {
    background-color: rgb(207, 212, 216);
    overflow: hidden;
    grid-column: 1/10;
    grid-row: 7/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: ". footer1 footer1 ." ". form buttons ."
}

.footer1 {
    grid-area: footer1;
}

.footer2 {
    grid-area: form;
}

.footer3 {
    grid-area: buttons;
}

.footerbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "button button" "button button" "button button";
}

.footer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "email name" "text text" "button .";
}

.footer2input1 {
    grid-area: email;
}

.footer2input2 {
    grid-area: name;
}

.footer2input3 {
    grid-area: text;
}

.footer2input4 {
    grid-area: button;
}

.socialimage {
    width: 15px;
}

.socialtag {
    font-size: 8pt;
}